<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/font-awesome-4.1.0/css/font-awesome.min.css" type="text/css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Francois+One|Permanent+Marker'  type='text/css'>
    <script src="js/respond.min.js"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "d0a1ec79-4775-4835-9535-1d75b16c35af", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
