<header>
    <div class="container">
        <div class="row">
          <!-- <div class="col-md-6 col-md-pull-4" class="hidden-md">
            <img class="img" src="img/logo.png" alt="may contain nutters" />
          </div> -->
            <div class="col-lg-6 col-lg-pull-1">
              <a href="{{ site.baseurl }}">
                <div class="intro-text">
                    <span class="name">AVWOS</span>
                    <span class="desc">antivax wall of shame</span>
                </div>
              </a>
            </div>
        </div>
    </div>
</header>
<nav class="navbar-inverse">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home"></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="trigger">
                  {% for page in site.pages %}
                    {% if page.title %}
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
